<app-alert
  *ngIf="alertOpen"
  [(isLoadig)]="isLoading"
  [preset]="alertPreset"
  [message]="error"
  [error]="errorResponse"
  [title]="alertTitle"
  [imageData]="imageData"
  (close)="onHandleClose()"
  [confirmWindow]="confirmDeletWindow"
  [confirmMessage]="confirmMessage"
  (addGalleryImage)="onAddGalleryImage($event)"
  (deleteImage)="onClickDeleteImage()"
  (confirmDeleteImage)="onClickConfirmDeleteImage()"
></app-alert>

<div class="w-l">
  <div class="w-title-bar">
    <h1 class="w-title">Gallery</h1>
    <span *ngIf="isLoading" class="loader-round"></span>
  </div>

  <div class="w-button-bar">
    <button
      class="button-42 button-42-icon" 
      [ngClass]="{'button-42-active': addButtonActive}"
      (click)="onClickAddBtn()"
    >
      <mat-icon>add_a_photo</mat-icon>
    </button>

    <button 
      class="button-42 button-42-icon" 
      [ngClass]="{'button-42-active': removeButtonActive}"
      [disabled]="company?.imageData?.length === 0"
      *ngIf="false"
      (click)="onClickRemoveBtn()"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
  </div>

  <h1 class="w-empty" *ngIf="company?.imageData?.length === 0 else view">No images are found</h1>
</div>

<ng-template #view>
  <div class="w-gallery-table">
      <ng-container *ngFor="let image of images">
        <div class="w-gallery-cell-container">
          <div 
            [ngClass]="'w-gallery-cell-background'"
            [cacheSrc]="(image?.internal ? altLink : link) + image?.hash"
          ></div>
          <div 
            class="w-gallery-cell"
            (click)="onClickOpenImage(image)"
          >
            <img [cacheSrc]="(image?.internal ? altLink : link) + image?.hash" [alt]="image?.name" [ngClass]="'disable-blur'" loading="lazy"/>
            <div class="w-gallery-cell-overlay">
              <div class="w-gallery-cell-overlay-text">{{image?.name}}</div>
            </div>
          </div>
        </div>
      </ng-container>
  </div>
</ng-template>