.custom-select {
  margin: 0.6rem 1rem 0 0;
  /* min-width: 350px; */
  position: relative;
}

.custom-select select {
  appearance: none;
  width: 100%;
  /* font-size: 1.15rem; */
  padding: 0.65rem 3rem 0.65rem 1rem;
  /* padding: 0 1rem; */
  /* margin: 0.3rem 0.6rem 0 0; */
  background-color: #fff;
  border: 1px solid;
  /* border-radius: 0.25rem; */
  color: #000;
  cursor: pointer;
  transition: box-shadow .2s;
}

.custom-select select:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

.w-popup {
  --w-popup-width: 400px;
  --w-popup-height: 12rem;
  width: var(--w-popup-width);
  height: var(--w-popup-height);
  padding: 0.5rem;
  border: solid 1px;
  background-color: #fff;
  position: absolute; /* absolute */
  bottom: 0.3rem;
  left: 0.3rem;
}

.pop-up {
  animation: popup-up 400ms forwards;
}

.pop-down {
  animation: popup-down 400ms forwards;
}

@keyframes popup-up {
  from {bottom: calc(-1 * (var(--w-popup-height) + 0.5rem));}
  to {bottom: 0.3rem;}
}

@keyframes popup-down {
  from {bottom: 0.3rem;}
  to {bottom: calc(-1 * (var(--w-popup-height) + 0.5rem + 0.6rem));}
}

.w-number {
  border: solid 1px;
}
