.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 98;
  backdrop-filter: blur(5px);
}

.alert-box-wraper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.alert-box {
  width: 60rem;
  padding: 16px;
  z-index: 100;
  background: white;
  /* box-shadow: 0 2px 8px rbga(0, 0, 0, 0.26); */
}

.alert-box-actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* text-align: right; */
}

.alert-box-actions > button {
  margin-right: 1rem;
}

.alert-box-actions > button:last-child {
  margin-right: 0rem;
}

.alert-box > .box-title {
  display:flex;
  align-items: center;
  justify-content: center;
}

.box-title > h1 {
  margin-top: 0;
}

.error-box {
  padding: 20px;
  background-color: #f44336;
  color: #fff;
  margin-bottom: 15px;
}

.button {
  background-color: #0d1580;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #333ed8;
}

.button:disabled {
  color: black;
  background-color: #444;
  cursor: no-drop;
}

span {
  color:#f44336;
}

.shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.image-contents {
  width: 50%;
}

.image-contents h3,
.image-contents p {
  margin-top: 0;
}

.w-gallery-cell-container {
  position: relative;
  width: 133px;
  height: 133px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}

.w-gallery-cell-selected {
  /* box-shadow: #009 0px 0px 5px; */
  outline: 5px solid #009;
}

.w-gallery-table {
  height: 77svh;
  overflow-y: scroll;
  border: 1px solid #333;
  margin-top: 1rem;
  align-content: flex-start
}