.frontpage-banner {
  margin-top: 120px;
  margin-bottom: 120px;
}

.frontpage-banner-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.frontpage-button {
  padding: 0.8rem 2rem;
  border-radius: 0.62rem;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 0.85rem;
  transition: all 0.25s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.frontpage-button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.frontpage-button:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.frontpage-button:disabled {
  background-color: #777;
  box-shadow: #666 0px 10px 0px 0px;
  transform: none;
  transition: none;
}

.frontpage-body {
  max-width: 1100px;
  margin: 1rem auto 1rem;
  box-shadow: 0px 0px 3px 5px #00000022;
}

.frontpage-window-top {
  background: url(/assets/gradient.svg), linear-gradient(36deg, #042225, #042225 53%, #08484e 69%, #383153), #303240;
  background-position: 100%;
  background-size: cover;
  display: flex;
  width: auto;
  height: 4rem;
  padding: 1rem;
}

.frontpage-window-top * {
  color: #fff;
}

.frontpage-window-body {
  display: flex;
  flex-direction: column;
  border: 1px solid #222;
  background-position: 100%;
  background-size: cover;
  display: flex;
  width: auto;
  min-height: 4rem;
}

.frontpage-window-top-pfp {
  width: 4rem;
  height: 4rem;
  background-color: aliceblue;
  object-fit: cover; /* to crop an image */
  object-position: center;
  image-rendering: smooth;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontpage-window-top-pfp * {
  color: white;
}

.frontpage-window-top h1 {
  font-size: x-large;
  margin: auto 0;
}

.frontpage-window-top-header {
  height: 3rem;
}

.loader {
  width: 100%;
  height: 4.8px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.loader::after {
  content: '';  
  width: 96px;
  height: 4.8px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak 0.6s ease-in-out infinite alternate;
}

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}

.loader-container {
  margin: 0 auto;
  width: 50px;
  height: 50px;
}

.input {
  width: 11.875rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.25rem; 
  box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
  outline: none;
  color: dimgray;
}

.input:invalid {
  /* animation: justshake 0.3s forwards; */
  color: red;
}

@keyframes justshake {
  25% {transform: translateX(5px);}
  50% {transform: translateX(-5px);}
  75% {transform: translateX(5px);}
  100% {transform: translateX-(5px);}
}

.error-box {
  padding: 20px;
  background-color: #f44336;
  color: #fff;
  margin-bottom: 15px;
}