* {
  color: #222;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.frontpage-banner {
  margin-top: 120px;
  margin-bottom: 120px;
}

.frontpage-banner-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.frontpage-button {
  padding: 0.8rem 2rem;
  border-radius: 0.62rem;
  border: 0;
  background-color: rgb(255, 56, 86);
  letter-spacing: 1.5px;
  font-size: 0.85rem;
  transition: all 0.25s ease;
  box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.frontpage-button:hover {
  box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.frontpage-button:active {
  background-color: rgb(255, 56, 86);
  /*50, 168, 80*/
  box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
}

.frontpage-button:disabled {
  background-color: #777;
  box-shadow: #666 0px 10px 0px 0px;
  transform: none;
  transition: none;
}