<header>
  <div class="frontpage-navigation-wrapper">
    <a [routerLink]="['/']">
      <div>
        <img src="/assets/sklad-s.svg" alt="logo" style="height: auto; width: 1.5rem; margin: auto 0.45rem auto;">
        <h2 class="not-for-mobile">ScalePilot</h2>
      </div>
    </a>

    <nav>
      <ul>
        <li><a [routerLink]="['/about']">about</a></li>
        <li><a [routerLink]="['/join']">join</a></li>
        <li><a [routerLink]="['/blog']">blog</a></li>
      </ul>
    </nav>

    <li class="frontpage-navigation-buttons" style="min-width:4rem;align-items: center;flex-direction: row;">
      <ng-template [ngIf]="isLoggedIn">
        <a [routerLink]="['/profile']" *ngIf="userImageHash.length === 0; else profilePicture">
          <div class="frontpage-icon">
            <b>{{ initials }}</b>
          </div>
        </a>
      </ng-template>
      
      <ng-template #profilePicture>
        <a [routerLink]="['/profile']">
          <img class="frontpage-icon" [cacheSrc]="link + userImageHash" [alt]="username">
        </a>
      </ng-template>

      <a 
        role="button" 
        (click)="loginMenu = !loginMenu"
        (clickOutside)="closeLoginMenu()"
        [ngClass]="loginMenu ? 'open' : ''">
        <mat-icon class="frontpage-login" *ngIf="!isLoggedIn">login</mat-icon>

        <mat-icon class="frontpage-arrow">expand_{{ loginMenu ? 'less' : 'more' }}</mat-icon>
      </a>

      <ul class="frontpage-dropdown-menu" id="sign-in" *ngIf="!isLoggedIn">
        <li><h3>sign in via</h3></li>
        <li><a [routerLink]="['/login']" (click)="closeLoginMenu()"><mat-icon>mail_outlined</mat-icon>email</a></li>
        <!-- <li><a href="#"><mat-icon>linkedin</mat-icon>B</a></li> -->
        <!-- <li><a href="#"><mat-icon>github</mat-icon>C</a></li> -->
      </ul>

      <ul class="frontpage-dropdown-menu" id="sign-in" *ngIf="isLoggedIn">
        <li><a [routerLink]="['/profile']" (click)="closeLoginMenu()">profile</a></li>
        <li><a [routerLink]="['/profile/settings']" (click)="closeLoginMenu()">settings</a></li>
        <li><a [routerLink]="['/']" (click)="onLogout()">log out</a></li> 
      </ul>
    </li>
    
  </div>
</header>