<div class="sklad">
  <div class="sklad-left-bar">
    <nav class="sklad-left-bar-box">
      <div class="sklad-left-bar-content">
        <dir-nav-element title="Шаблоны" logo="layers"></dir-nav-element>
        <dir-nav-element title="Склад" logo="warehouse"></dir-nav-element>
      </div>
    </nav>
  </div>

  <div class="sklad-left-bar-resizer">
  </div>
  <div class="sklad-tab-container">
    <nav class="sklad-tab-bar">

    </nav>
    <main class="sklad-tab">

    </main>
  </div>
</div>
<router-outlet></router-outlet>
