<div class="frontpage-banner">
  <div class="frontpage-banner-wrapper">
    <div class="frontpage-banner-row">
      <div class="frontpage-banner-quote">
        <h1>{{ bannerHeader }}</h1>
        <p>{{ bannerSubheading }}</p>
      </div>
      <img src="/assets/cat-face.svg" alt="logo" style="height:200px">
    </div>
    <div class="frontpage-banner-row">
      <div class="frontpage-banner-buttons">
        <button class="light-button" (click)="onSignIn()" role="button" >Sign in</button>
        <button class="light-button" (click)="onTryOut()" style="margin-right:2rem">Try out for free!</button>
      </div>
    </div>
  </div>
</div>
