.frontpage-banner-row {
  display:flex;
  justify-content: space-between;
}

.frontpage-banner-quote {
  max-width: 43rem;
}

.frontpage-banner-quote h1 {
  font-size: 4rem;
}

.frontpage-banner-quote p {
  font-size: 1.4rem; 
}

.frontpage-banner-quote p,
.frontpage-banner-quote h1 {
  margin: 0 0 0.8rem 0;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

.frontpage-banner-buttons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.light-button {
  text-decoration: none;
  padding: 11px 48px;
  border: 0;
  margin-right: 2rem;
  background: #ff0a0a;
  color: #fff;
  border-radius: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  text-transform: none;
}