:root {
  --s-background: #fff;
  --s-separation: #ddd;
  --s-emptyness: #aaa;
  --s-highlight: #333;
  --s-hover-element: #cef;
  --s-click-element: #8ab;

  --s-top-tool-bar: 3em;
  --s-left-bar-width: 300px;
  --s-left-bar-edge: 0.4rem;
}

html {
  overflow-y: auto;
  margin: 0;
}

body {
  /* display: block; */
  background-color: var(--s-background);
  font-family: "Inter",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  margin: 0;
}

p {
  -webkit-font-smoothing: antialiased;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.sklad {
  display: flex;
  flex-direction: column;
}

.sklad-top-bar {
  display: flex;
  flex-direction: row-reverse;
  height: var(--s-top-tool-bar);
  width: 100%;
  background-color: var(--s-separation);
}

.sklad-top-icon {
  display: block;
  border: none;
  margin: auto 0.2em auto 0;
  cursor: pointer;
  width: 1.75rem;
  padding: 0.25rem;
  height: 1.75rem;
  border-radius: 0.4rem;
}

.sklad-top-icon img {
  width: 100%;
}

.sklad-left-bar-element:hover,
.sklad-top-icon:hover {
  background-color: var(--s-hover-element);
}

.sklad-left-bar-element:active,
.sklad-tab button:focus,
.sklad-top-icon:active {
  background-color: var(--s-click-element);
}

.sklad-workspace {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}

left-bar,
.sklad-left-bar {
  /* vertical-align: top; */
  display: block;
  background-color: var(--s-separation);
  min-width: var(--s-left-bar-width);
  height: calc(100vh - var(--s-top-tool-bar));
  margin: 0;
}

.sklad-left-bar-box {
  /* overflow-y: hidden; */
  display: block;
  border-radius: 10px;
  width: calc(100% - 4px - 9px);
  height: calc(100% - 20px - 20px);
  background-color: var(--s-background);
  padding: 10px 0px 10px 4px;
  margin: 10px 0 10px 9px;
}

.sklad-left-bar-content {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  min-height: 100%;
}

.sklad-window::-webkit-scrollbar,
.sklad-left-bar-content::-webkit-scrollbar {
  height: 0.6rem;
  width: 0.6rem;
}

/* Track */
.sklad-window::-webkit-scrollbar-track,
.sklad-left-bar-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.sklad-window::-webkit-scrollbar-thumb,
.sklad-left-bar-content::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.sklad-window::-webkit-scrollbar-thumb:hover,
.sklad-left-bar-content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.sklad-left-bar-element {
  /* test  */
  display: flex;
  min-width: 100%;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
  height: 2rem;
  font-size: 0.87rem;
  align-items: center;
}

.sklad-left-bar-element .mat-icon {
  display: inline-block;
}

.sklad-left-bar-element span {
  user-select: none;
  display: inline-block;
  margin: 0 0.5rem;
}

.sklad-left-bar-resizer {
  /* vertical-align: top; */
  display: block;
  background-color: var(--s-separation);
  cursor: e-resize;
  min-width: var(--s-left-bar-edge);
}

.sklad-left-bar-resizer:hover {
  box-shadow: 1px 0 1px 0px var(--s-highlight) inset;
}

.sklad-tab-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

.sklad-tab-bar {
  background-color: var(--s-separation);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  box-shadow: 1px 1px 0px 0px var(--s-emptyness) inset;
  height: 1.5rem;
  /* min-height: 1.5rem; */
  /* max-height: 1.5rem; */
  width: 100%;
}

.sklad-window {
  overflow-y: auto;
  min-width: 100px;
  height: 100%;
  background-color: var(--s-background);
}

.sklad-tab {
  user-select: none;  
  display: flex;
  flex-flow: row nowrap;
  border-right: 1px solid var(--s-emptyness);
  overflow-y: auto;
  align-items: center;
  justify-content: space-between;
  color: var(--s-highlight);
  width: 100px;
  height: 1.5rem;
  font-size: 0.87rem;
  cursor: pointer;
  background-color: var(--s-hover-element);
}

.sklad-tab button {
  border: none;
  cursor: pointer;
  background: none;
  background-color: none;
}

.sklad-tab span {
  margin-left: 0.14em;
}

.sklad-tab button:hover {
  background-color: var(--s-background);
}

.sklad-tab-disabled,
.sklad-tab button:active {
  background-color: var(--s-click-element);
}

.sklad-tab-disabled {
  justify-content: center;
}

.sklad-tab-disabled span {
  margin-left: 0;
}

/* .sklad-window table {
  margin: 1rem;
}

.sklad-window table,
.sklad-window th,
.sklad-window td {
  border: 1px solid var(--s-highlight);
  border-collapse: collapse;
} */

.sklad-window-table-head {
  display: flex;
  flex-flow: row nowrap;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--s-separation);
}

.sklad-window-table-head-image {
  display: flex;
  justify-content: center;
  background-color: var(--s-emptyness);
  width: calc(10vw + 3rem);
  height: calc(10vw + 3rem);
}

.sklad-head-image-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(4vw + 3rem);
  background-color: var(--s-separation);
  margin: auto;
  width: calc(4vw + 3rem);
  height: calc(4vw + 3rem);
  border-radius: 100%;
}

.sklad-head-contents {
  margin-left: 0.3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.sklad-head-contents h1 {
  margin: 0;
}

.sklad-head-contents hr {
  margin: 0.2rem 0;
  border-top: 1px solid var(--s-highlight);
  width: 100%;
}

