:root {
  --s-background: #fff;
  --s-separation: #ddd;
  --s-emptyness: #aaa;
  --s-highlight: #333;
  --s-hover-element: #cef;
  --s-click-element: #8ab;

  --s-top-tool-bar: 3em;
  --s-left-bar-width: 300px;
  --s-left-bar-edge: 0.4rem;
}

html {
  margin: 0;  
}

body {
  /* display: block; */
  background-color: var(--s-background);
  /* font-family: "Inter",-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif; */
  font-family: GT Walsheim LC, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

p {
  -webkit-font-smoothing: antialiased;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.mat-icon {
  display: inline-block;
}
