<ng-template>
<div class="sklad">

  <nav class="sklad-top-bar">
    <div class="sklad-top-icon" (click)="toggleLeftBar()">
      <!-- <div *ngIf="showLeftBar; then leftBarOn else leftBarOff"></div> -->
      <!-- Скрыть левую панель - Paslėpti kairiąją juostą -->
        <img src="/assets/lb-on-ico.svg" alt="Hide left strip" *ngIf="showLeftBar"/>
        <!-- <mat-icon *ngIf="showLeftBar" svgIcon="left_bar_open"></mat-icon> -->
      <!-- Открыть левую панель - Rodyti kairiąją juostą -->
        <img src="/assets/lb-off-ico.svg" alt="Show left strip" *ngIf="!showLeftBar"/>
        <!-- <mat-icon *ngIf="!showLeftBar" svgIcon="left_bar_off"></mat-icon> -->
    </div>
  </nav>

  <div class="sklad-workspace">

    <app-left-bar *ngIf="showLeftBar"></app-left-bar>

    <div class="sklad-tab-container">
      <nav class="sklad-tab-bar">

        <div class="sklad-tab">
          <span>Map</span>
          <button>X</button>
        </div>

        <div class="sklad-tab sklad-tab-disabled">
          <span>Table</span>
          <button hidden>X</button>
        </div>

      </nav>
      <main class="sklad-window">
        <div class="sklad-window-table-head">
          <div class="sklad-window-table-head-image">
            <div class="sklad-head-image-circle">?</div>
          </div>
          <div class="sklad-head-contents">
            <h1>Pavadinimas</h1>
            <hr/>
          </div>
        </div>

        <table mat-table>
          <!-- <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
          </tr> -->
        </table>

      </main>
    </div>
  </div>

</div>
</ng-template>

<ng-template *ngIf="isLoading else workspacePage">

</ng-template>

<ng-template #workspacePage>
  <div class="workspace-page">
    <header class="w-header">

    </header>

    <div class="w-body">

      <nav class="w-side-bar" *ngIf="!sideBarMaximized">
        <div class="w-side-bar-element" >
          <mat-icon>menu</mat-icon>
        </div>
      </nav>

      <nav class="w-max" *ngIf="sideBarMaximized">

      </nav>

      <div class="w-main-window">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>


