html {
  overflow: hidden;
  margin: 0;
}

.workspace-page {
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.w-header {
  /* background-color: #7c2f2f; */
  background-color: #365486;
  color: #fff;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  flex-wrap: nowrap;
  flex-direction: row;
  /* height: var(--header-height); */
  /* width: calc(100% - 3vw); */
  padding: 0 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.w-body {
  /* background-color: #F3F2F1; */
  background-color: #DCF2F1;
  height: calc(100% - 4.5rem);
  max-height: calc(100% - 4.5rem);
  /* max-height: calc(100% - var(--header-height)); */
  display: flex;
  flex-direction: row;
}

.w-side-bar {
  display: flex;
  flex: 0 0 64px;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5rem;
  width: 64px;
}

.w-max {
  display: block;
  padding: 0 1rem;
  flex: 0 0 300px;
  width: calc(300px - 2rem);
}

.w-max, .w-side-bar {
  overflow-y: auto;
  background-color:#fff;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  z-index: 1;
}

.w-max > div,
.w-max .w-max-element {
  /* background-color: #888; */
  padding: 0 1rem;
  height: 2rem;
  width: calc(100% - 2rem);
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #0000;
}

.w-max .w-max-element, .w-cursor {
  cursor: pointer;
}

.w-max > div > a { 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.w-max .w-max-element p {
  display: block;
  margin: 0 0 0 0.7rem;
  font-size: 1.2rem;
}

.w-max .w-max-element:hover,
.w-max-heading-right-button:hover,
.w-max-heading .w-max-heading-left-button:hover {
  background-color: #f1f1f1;
}

.w-max div h1 {
  margin: 0 0 0 0.7rem;
  width: auto;
}

.w-max > hr {
  background-color: #999; 
  height: 1px; 
  border: 0;
}

.w-max-heading {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.w-breadcrumb {
  background-color: #999;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-max-heading-left-button {
  cursor: pointer;
}

.w-max-heading-right-button {
  cursor: pointer;
  width: 100%;
}

.w-max-element-selected p {
  color: #365486;
}

.w-max-element-selected {
  border-bottom: 1px solid #365486 !important;
  font-style: italic;
  color: #365486;
}

/* .w-max > div > mat-icon {
  display: block;
} */

.w-main-window {
  padding: 1rem 0 0 0rem;
  width: 100%;
  /* height: 100%; */
  overflow: overlay;
}

.w-side-bar-element {
  border-radius: 50%;
  width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.w-max-heading-selected h1 {
  font-style: italic;
  color: #f44336;
}

.w-side-bar-element:hover {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 5px 2px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.w-side-bar-element:hover > mat-icon {
  color: #0F1035;
}

.w-side-bar::-webkit-scrollbar{
  height: 0.6rem;
  width: 0.6rem;
}

/* Track */
.w-side-bar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.w-side-bar::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.w-side-bar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.w-button-bar {
  display: flex; 
  flex-wrap: wrap;
}

/* .button-42 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 0.375rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFF;
  cursor: pointer;
  display: inline-flex;
  height: 2.2rem;
  line-height: 2.25rem;
  outline: 0;
  overflow: hidden;
  padding: 0 1rem;
  margin-top: 0.3rem;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  border: 0;
  transition: box-shadow .2s;
  align-items: center;
  margin-right: 0.6rem;
} */

hr {
  background-color: #333; 
  height: 1px; 
  border: 0;
}


/* Input container */
.input-container {
  position: relative;
  margin: 1rem;
}

/* Input field */
.input-field {
  display: block;
  /* height: 2.53rem; */
  height: 1.53rem;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  color: rgba(204, 204, 204, 0);
  pointer-events: none;
  /* transition: all 0.3s ease; */
}

/* Input highlight */
.input-highlight {
  position: absolute;
  /* bottom: 0; */
  top: calc(1.53rem + 20px);
  left: 0;
  height: 2px;
  width: 0;
  background-color: #E62C03;
  /* transition: all 0.3s ease; */
}

/* Input field:focus styles */
.input-field:focus + .input-label {
  top: -0.7rem;
  font-size: 0.75rem;
  color: #E62C03;
}

.input-field:focus + .input-label + .input-highlight {
  width: calc(100% + 20px);
}

.w-form-container {
  display: flex;
  flex-wrap: wrap;
}

.input-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 2.9rem;
  height: 2.9rem;
  background-color: #F3F2F1;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: #000000a6 0 1px 3px;
}

.input-color:hover {
  box-shadow: #0008 0 3px 8px;
}

.input-color::-webkit-color-swatch {
  border-radius: 0.5rem;
  border: none;
}

.input-color::-moz-color-swatch {
  border-radius: 0.5rem;
  border: none;
}

.w-form-button {
  /* margin: 1rem 0 1rem 1rem; */
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: #000000a6 0 1px 3px;
  background-color: #fff;
  display: grid;
  align-items: center;
  justify-items: center;
  background: rgb(224,52,0);
  background: radial-gradient(circle, rgba(224,52,0,1) 10%, rgba(121,9,9,1) 86%);
  color: #fff;
}

.w-form-submit-box {
  display: flex;
  flex-direction: row;
}

.w-form-submit-box button {
  margin-right: 1rem;
}

.w-form-submit-box button:last-child {
  margin-right: 0;
}

/* for  er */

/* header > * > a > b,  
header > * > a > mat-icon, */
header * {
  color: #fff;
}

.frontpage-dropdown-menu * {
  color: #222;
}

header a {
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  transition: color .2s;
}

.w-header-mobile-box {
  align-content: center;
}

/* header a:hover {
  color: #2963c0;
} */

.workspace-table {
  table-layout: fixed;
  overflow: scroll;
  white-space: nowrap;
  background-color: white;
  /* margin-top: 1rem; */
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 5px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.workspace-table thead {
  background-color: black;
}

.workspace-table thead th {
  height: 28px;
}

.workspace-table thead * {
  color: #fff;
}

.workspace-table , 
.workspace-table th, 
.workspace-table td {
  border: 1px solid gray;
}

.workspace-table th, 
.workspace-table td {
  word-break: keep-all;
  align-content: center;
  padding: 0.25rem;
}

/* .workspace-table .w-suppliers {
  display: flex;
  align-items: center;
} */

.ws-icon-cell div {
  display: flex;
  align-items: center;
}

.ws-icon-cell > div > mat-icon {
  display: inline;
}

.ws-even-cell {
  background-color: khaki;
  color: #000;
}

.ws-even-cell *,
.ws-even-cell > div,
.ws-even-cell > div * {
  color: #000;
}

/* .workspace-table td > input[type=text] {
  border: none;
  font-size: 1rem;
  padding: 0;
  box-sizing: content-box;
} */

.workspace-table td > span {
  border: none;
  font-size: 1rem;
  width: 100%;
  display:block;
  overflow:auto;
  min-width:5px;
  outline: none;
}

.cell-image-wrap {
  width: 100%; 
  height: 100%; 
  
  position: relative;
}

/* 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */
.cell-empty-image {
  color: black;
  font-size: 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #fff;
  display: flex; 
  justify-content: center;
  align-items: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cell-image-wrap:hover .cell-image-hover-button,
.cell-wrap:hover .cell-image-hover-button {
  display: block;
}

.cell-wrap {
  position: relative;
}

.cell-parent-hover-button {
  right: none;
  left: 0;
}

.cell-image-hover-button {
  display: none;
  /* display: block; */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  outline: 1px solid #ff0a0a;
  background-color: #fee;
}

.cell-image-hover-button:hover {
  outline: 1px solid rgb(0, 0, 255);
  background-color: #fff;
}

.cell-image-hover-button:active {
  background-color: darkgrey;
}

.cell-image-hover-button > mat-icon {
  font-size: 1rem;
}

.cell-image-hover-button {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  outline: 1px solid #ff0a0a;
  background-color: #fee;
}

.to-block {
  display: block;
}

.cell-left-context {
  left: auto !important;
  right: calc(100% + 1px);
}

.cell-image-context-menu {
  background-color: #fff;
  position: absolute;
  left: calc(100% + 1px);
  top: calc(100% + 1px);
  width: auto;
  height: auto;
  outline: 1px solid #333;
  box-shadow: rgba(0, 0, 0, 0.6) 2.4px 2.4px 3.2px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.cell-image-context-menu > div {
  width: calc(100% - 2rem);
  height: 1.5rem;
  background-color: #fff;
  padding: 0.25rem 1rem 0.25rem;
  border-bottom: 2px solid #aaa;
  margin-bottom: -1px;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cell-image-context-menu > div:hover {
  background-color: #ffccaa;
}

.cell-image-context-menu > div:active {
  background-color: #b8947c;
}

.cell-image-context-menu > div:last-child {
  border-bottom: none;
  margin-bottom: none;
}

.cell-image-context-menu-up {
  top: unset;
  bottom: 0px;
}

/* .workspace-table td > input[type=text]:focus-visible { */
/* .workspace-table td > span { */
  /* border: none; */
  
/* } */

.cell-edit {
  -webkit-user-modify: read-write;
  text-decoration-skip-ink: none;
  font-weight: normal;
  font-style: italic;
  outline: none;
}

.cell-edit-border {
  /* border: 1px solid rgb(0, 0, 255) !important; */
  outline: 2px solid rgb(0, 0, 255);
  outline-offset: -1px;
  padding: 0;
}

.w-table-container {
  display: block;
  margin: 0rem;
  padding: 10px 10px 10px 1rem;;
}

.w-gallery-table {
  width: calc(100% - 1rem);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.w-gallery-cell-container {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 1rem 1rem 0 0;
  border-radius: 6px;
  border: solid 1px #666;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}

.w-gallery-cell-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  z-index: 1;
}

.w-gallery-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  /* cursor: pointer; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

.disable-blur {
  width: 100%;
  height: 100%;
  z-index: 3;
  object-fit: contain;
}

.w-gallery-cell-overlay {
  border-radius: 0 0 6px 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0008;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .16s ease;
  display: flex;
  justify-content: start;
  align-items: center;
  white-space: nowrap;
  z-index: 4;
}

.w-gallery-cell:hover .w-gallery-cell-overlay {
  height: 2.5rem;
}

.w-gallery-cell-overlay-text {
  white-space: nowrap; 
  color: white;
  font-size: 1.25rem;
  position: absolute;
  overflow: hidden;
  display: inline-block;
  padding-left: 100%;
  animation: text-scroll 4s linear infinite;
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

@keyframes text-scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.w-title-bar {
  display:flex;
  align-items: flex-end
}

.w-title-bar .loader-round {
  margin-left: 0.6rem;
}


/* @media screen and (min-width: 1024px) {
  .w-header-mobile-box > :first-child {
      display: none !important;
  }
} */

@media screen and (max-width: 1024px) {
  .w-side-bar {
    display: none !important;
  }
}

@media only screen and (max-width: 1100px) {
  header {
    margin: 0;
  }

  .input-container {
    margin: calc(0.8rem + 1vw);
  }

  .input-field {
    height: calc(0.2rem + 1vw);
    font-size: calc(0.8rem + 0.5vw);
    padding: calc(5px + 1vw);
  }

  .input-highlight {
    top: calc(0.2rem + 1vw + 10px + 2vw);
  }

  .input-label { 
    font-size: calc(0.3rem + 1vw);
  }

  .input-field:focus + .input-label {
    font-size: calc(0.2rem + 1vw);
  }

  .input-color {
    width: calc(0.2rem + 1vw + 10px + 2vw);
    height: calc(0.2rem + 1vw + 10px + 2vw);
  }
}

.ws-check-box {
  width: 1rem;
  height: 1rem;
  display: block;
  margin: 0px auto;
}

.w-empty {
  margin-left: 1rem;
  color: #666;
  display: flex;
  justify-content: center;
}

.w-l {
  margin-left: 1rem;
}

.w-r {
  margin-right: 0.2rem;
}

.w-tag-space {
  display: flex;
  max-height: 3.2rem;
  width: max-content;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-items: flex-start;
}

.w-tag {
  background-color: #365486;
  color: white;
  font-size: small;
  padding: 0.15rem 0.4rem;
  border-radius: 0.6rem;
  margin: 0 0.2rem 0.2rem 0;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  justify-content: center;
}

.w-tag-off {
  background-color: lightgray;
  color: grey;
}

.w-tag-two {
  background-color: rgb(102, 74, 4);
}

.w-header-button-wrapper {
  display: flex;
  flex-direction: row;
}

.w-header-box {
  align-content: center;
  cursor: pointer;
  transition: 0ms ease;
}

.w-header-box:hover {
  background-color: #7FC7D9;
  transition: 200ms ease;
}

.w-header-button {
  border-radius: 50%;
  min-width: 3rem;
  margin: 0 0.3rem;
  /* min-height: 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.w-header-button p {
  margin: 0;
  user-select: none;
}

.w-header-button-selected {
  background-color: #0F1035;
  
}

/* .w-header-button-selected .mat-icon {
  color: #000;
  text-shadow: #fff 0 0 2px, #fff 1px 0 4px;
}

.w-header-button-selected p {
  color: #000;
  text-shadow: #fff 0 0 2px, #fff -1px 0 5px, #fff 1px 0 9px;
} */

.w-title {
  margin: 0.5rem 0 0 0;
}

.w-filter {
  position: absolute;
  top: calc(100% - 1px);
  z-index: 2;
  display: none;
  float: left;
  min-width: 160px;
  padding: 1.1rem 1.4rem;
  margin: 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #000;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .11);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .11);
}

.w-filter div {
  display: flex; 
  align-items: center; 
  height: 1.625rem;
}

.w-filter-bar {
  margin-top: 0.6rem;
  width: fit-content;
  padding-right: 0.6rem;
  border: 1px solid;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.w-filter-bar div {
  display: flex;
  align-items: center;
  padding: 0 0.2rem;
  user-select: none;
}

.ui-checkbox {
  --primary-color: #365486;
  --secondary-color: #fff;
  --primary-hover-color: #7FC7D9;
  /* checkbox */
  --checkbox-diameter: 20px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: #d9d9d9;
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  /* checkmark */
  --checkmark-size: 1.2;
}

.ui-checkbox, 
.ui-checkbox *, 
.ui-checkbox *::before, 
.ui-checkbox *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ui-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  border-radius: var(--checkbox-border-radius);
  background: var(--secondary-color);
  border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.ui-checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}

.ui-checkbox::before {
  top: 40%;
  left: 50%;
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
}

/* actions */

.ui-checkbox:hover {
  border-color: var(--primary-color);
}

.ui-checkbox:checked {
  background: var(--primary-color);
  border-color: transparent;
}

.ui-checkbox:checked::before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}

.ui-checkbox:active:not(:checked)::after {
  -webkit-transition: none;
  -o-transition: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  transition: none;
  opacity: 1;
}