/* .sklad {
  display: flex;
  flex-direction: column;
  height: 100vh;
} 

.sklad-top-bar {
  display: flex;
  flex-direction: row-reverse;
  height: var(--s-top-tool-bar);
  width: 100%;
  background-color: var(--s-separation);
}

.sklad-top-icon {
  display: block;
  border: none;
  margin: auto 0.2em auto 0;
  cursor: pointer;
  width: 1.75rem;
  padding: 0.25rem;
  height: 1.75rem;
  border-radius: 0.4rem;
}

.sklad-top-icon img {
  width: 100%;
}

.sklad-top-icon:hover {
  background-color: var(--s-hover-element);
}

.sklad-tab button:focus {
  background-color: var(--s-click-element);
}

.sklad-top-icon:active {
  background-color: var(--s-click-element);
}

.sklad-workspace {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}

.sklad-window::-webkit-scrollbar{
  height: 0.6rem;
  width: 0.6rem;
} */

/* Track */
/* .sklad-window::-webkit-scrollbar-track {
  background: #f1f1f1; 
} */
 
/* Handle */
/* .sklad-window::-webkit-scrollbar-thumb {
  background: #888; 
} */

/* Handle on hover */
/* .sklad-window::-webkit-scrollbar-thumb:hover {
  background: #555; 
} */

/* .sklad-tab-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
} */

/* .sklad-tab-bar {
  background-color: var(--s-separation);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  box-shadow: 1px 1px 0px 0px var(--s-emptyness) inset;
  height: 1.5rem; */
  /* min-height: 1.5rem; */
  /* max-height: 1.5rem; */
  /* width: 100%;
} */

/* .sklad-window {
  overflow-y: auto;
  min-width: 100px;
  height: 100%;
  background-color: var(--s-background);
}

.sklad-tab {
  user-select: none;  
  display: flex;
  flex-flow: row nowrap;
  border-right: 1px solid var(--s-emptyness);
  overflow-y: auto;
  align-items: center;
  justify-content: space-between;
  color: var(--s-highlight);
  width: 100px;
  height: 1.5rem;
  font-size: 0.87rem;
  cursor: pointer;
  background-color: var(--s-hover-element);
}

.sklad-tab button {
  border: none;
  cursor: pointer;
  background: none;
  background-color: none;
}

.sklad-tab span {
  margin-left: 0.14em;
}

.sklad-tab button:hover {
  background-color: var(--s-background);
}

.sklad-tab-disabled,
.sklad-tab button:active {
  background-color: var(--s-click-element);
}

.sklad-tab-disabled {
  justify-content: center;
}

.sklad-tab-disabled span {
  margin-left: 0;
} */

/* .sklad-window table {
  margin: 1rem;
}

.sklad-window table,
.sklad-window th,
.sklad-window td {
  border: 1px solid var(--s-highlight);
  border-collapse: collapse;
} */

/* .sklad-window-table-head {
  display: flex;
  flex-flow: row nowrap;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--s-separation);
}

.sklad-window-table-head-image {
  display: flex;
  justify-content: center;
  background-color: var(--s-emptyness);
  width: calc(10vw + 3rem);
  height: calc(10vw + 3rem);
}

.sklad-head-image-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(4vw + 3rem);
  background-color: var(--s-separation);
  margin: auto;
  width: calc(4vw + 3rem);
  height: calc(4vw + 3rem);
  border-radius: 100%;
}

.sklad-head-contents {
  margin-left: 0.3rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.sklad-head-contents h1 {
  margin: 0;
}

.sklad-head-contents hr {
  margin: 0.2rem 0;
  border-top: 1px solid var(--s-highlight);
  width: 100%;
} */

/* nav mat-icon {
  display: block;
  border: none;
  margin: auto 0.2em auto 0;
  cursor: pointer;
  width: 1.75rem;
  padding: 0.25rem;
  height: 1.75rem;
  border-radius: 0.4rem;
} */

html {
  overflow: hidden;
  margin: 0;
}

.workspace-page {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
}

.w-header {
  background-color: rgb(124, 47, 47);
  height: 80px;
  flex: 1 0;
  /* height: var(--header-height); */
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.w-body {
  background-color: #F3F2F1;
  height: calc(100% - 80px);
  max-height: calc(100% - 80px);
  /* max-height: calc(100% - var(--header-height)); */
  display: flex;
  flex-direction: row;
}

.w-side-bar {
  overflow-y: auto;
  background-color:#fff;
  display: flex;
  flex: 0 0 64px;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5rem;
  width: 64px;
  height: auto; 
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.w-max {
  overflow-y: auto;
  background-color:#fff;
  display: block;
  /* flex-direction: column; */
  padding: 0 1rem;
  flex: 0 0 300px;
  width: calc(300px - 2rem);
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.w-max > div,
.w-max .w-max-element {
  /* background-color: #888; */
  padding: 0 1rem;
  height: 2rem;
  width: calc(100% - 2rem);
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #0000;
}

.w-max .w-max-element {
  cursor: pointer;
}

.w-max > div > a { 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.w-max .w-max-element p {
  display: block;
  margin: 0 0 0 0.7rem;
  font-size: 1.2rem;
}

.w-max .w-max-element:hover,
.w-max-heading-right-button:hover,
.w-max-heading .w-max-heading-left-button:hover {
  background-color: #f1f1f1;
}

.w-max div h1 {
  margin: 0 0 0 0.7rem;
  width: auto;
}

.w-max > hr {
  background-color: #999; 
  height: 1px; 
  border: 0;
}

.w-max-heading {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.w-max-heading-left-button {
  cursor: pointer;
}

.w-max-heading-right-button {
  cursor: pointer;
  width: 100%;
}

.w-max-element-selected p {
  color: #f44336;
}

.w-max-element-selected {
  border-bottom: 1px solid #f44336 !important;
  font-style: italic;
  color: #f44336;
}

/* .w-max > div > mat-icon {
  display: block;
} */

.w-main-window {
  padding: 1rem 0 0 1rem;
  width: 100%;
  height: 100%;
}

.w-side-bar-element {
  border-radius: 50%;
  /* background-color: gray; */
  width: 3rem;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.w-max-heading-selected h1 {
  font-style: italic;
  color: #f44336;
}

.w-side-bar-element:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 5px 2px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.w-side-bar-element:hover > mat-icon {
  color: blue;
}

.w-side-bar::-webkit-scrollbar{
  height: 0.6rem;
  width: 0.6rem;
}

/* Track */
.w-side-bar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.w-side-bar::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.w-side-bar::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

