<ng-template *ngIf="isLoading else workspacePage">

</ng-template>

<ng-template #workspacePage>
  <div class="workspace-page">
    <header class="w-header">

      <div class="w-header-mobile-box">
        <div class="w-side-bar-element" (click)="sideBarMaximized = !sideBarMaximized">
          <mat-icon>menu</mat-icon>
        </div>
      </div>

      <li class="frontpage-navigation-buttons" style="min-width:4rem;flex-direction: row;">
        <ng-template [ngIf]="isLoggedIn">
          <a [routerLink]="['/profile']" *ngIf="userImageHash.length === 0; else profilePicture">
            <div class="frontpage-icon">
              <b>{{ initials }}</b>
            </div>
          </a>
        </ng-template>
        
        <ng-template #profilePicture>
          <a [routerLink]="['/profile']">
            <img class="frontpage-icon" [cacheSrc]="link + userImageHash" [alt]="username">
          </a>
        </ng-template>
  
        <a 
          role="button" 
          (click)="loginMenu = !loginMenu"
          (clickOutside)="closeLoginMenu()"
          [ngClass]="loginMenu ? 'open' : ''">
          <mat-icon class="frontpage-login" *ngIf="!isLoggedIn">login</mat-icon>
  
          <mat-icon class="frontpage-arrow">expand_{{ loginMenu ? 'less' : 'more' }}</mat-icon>
        </a>
  
        <ul class="frontpage-dropdown-menu" id="sign-in" *ngIf="!isLoggedIn">
          <li><h3>sign in via</h3></li>
          <li><a [routerLink]="['/login']" (click)="closeLoginMenu()"><mat-icon>mail_outlined</mat-icon>email</a></li>
          <!-- <li><a href="#"><mat-icon>linkedin</mat-icon>B</a></li> -->
          <!-- <li><a href="#"><mat-icon>github</mat-icon>C</a></li> -->
        </ul>
  
        <ul class="frontpage-dropdown-menu" id="sign-in" *ngIf="isLoggedIn">
          <li><a [routerLink]="['/profile']" (click)="closeLoginMenu()">profile</a></li>
          <li><a [routerLink]="['/profile/settings']" (click)="closeLoginMenu()">settings</a></li>
          <li><a [routerLink]="['/']" (click)="onLogout()">log out</a></li> 
        </ul>
      </li>

    </header>

    <div class="w-body">

      <nav class="w-side-bar" *ngIf="!sideBarMaximized">
        <div class="w-side-bar-element" (click)="sideBarMaximized = true">
          <mat-icon>menu</mat-icon>
        </div>
      </nav>

      <nav class="w-max" *ngIf="sideBarMaximized">
        <div class="w-max-heading">
          <div class="w-max-heading-left-button" (click)="sideBarMaximized = false">
            <mat-icon>menu</mat-icon>
          </div>
          <div
            class="w-max-heading-right-button"
            routerLinkActive="w-max-heading-selected"
            [routerLink]="['/workspace', companyId]"
            [routerLinkActiveOptions]="{exact: true}"
          >
            <h1>Home</h1>
          </div>
        </div>
        
        <hr/>
        <!-- <div
          *ngFor="let menu of leftBarMenu"
          class="w-max-element" 
          routerLinkActive="w-max-element-selected"
          [routerLink]="menu.link" 
        >
          <mat-icon>{{ menu.logo }}</mat-icon>
          <p>{{ menu.name }}({{ menu.number }})</p>
        </div> -->
        <div 
          class="w-max-element"
          routerLinkActive="w-max-element-selected"
          [routerLink]="['/workspace', companyId, 'items']"
        >
          <mat-icon>inventory_2</mat-icon>
          <p>items({{ company?.items?.length }})</p>
        </div>
        <div 
          class="w-max-element"
          routerLinkActive="w-max-element-selected"
          [routerLink]="['/workspace', companyId, 'diagrams']"
        >
          <mat-icon>account_tree</mat-icon>
          <p>diagrams</p>
        </div>
        <div 
          class="w-max-element"
          routerLinkActive="w-max-element-selected"
          [routerLink]="['/workspace', companyId, 'suppliers']"
        >
          <mat-icon>local_shipping</mat-icon>
          <p>suppliers({{ company?.suppliers?.length }})</p>
        </div>
        <div 
          class="w-max-element"
          routerLinkActive="w-max-element-selected"
          [routerLink]="['/workspace', companyId, 'locations']"
        >
          <mat-icon>warehouse</mat-icon>
          <p>locations({{ company?.locations?.length }})</p>
        </div>
        <div 
          [routerLink]="['/workspace', companyId, 'users']"
          class="w-max-element" 
          routerLinkActive="w-max-element-selected"
        >
          <mat-icon>group</mat-icon>
          <p>users({{ company?.user?.length }})</p>
        </div>
        <div 
          class="w-max-element" 
          routerLinkActive="w-max-element-selected"
          [routerLink]="['/workspace', companyId, 'gallery']" 
        >
          <mat-icon>photo_library</mat-icon>
          <p>gallery({{ company?.imageData?.length }})</p>
        </div>
      </nav>

      <div class="w-main-window">
        <!-- <b style="margin-left: 1rem">{{ currentRoute }}</b> -->
        <div class="w-l">
          <ng-container *ngFor="let route of currentRoute; let l = last">
            <b><a *ngIf="!l" [routerLink]="[route[1]]">{{route[0]}}</a></b>
            <b *ngIf="l">{{route[0]}}</b>
            <b *ngIf="!l"> > </b>
          </ng-container>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-template>


