#tree-container {
  display: grid;
  place-items: center;
}

.w-block {
  text-align: center;
  position: relative;
}

.w-block-selected {
  border-radius: 25px;
  border: 1px solid #0F1035;
  padding: 0.5rem 0px;
  background-color: #7FC7D9;
}

.w-block-wrap {
  border-radius: 25px;
  border: 1px solid #aaa;
  padding: 0.5rem 0px;
  background: #fff;
}

.node {
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #111;
  stroke-width: 0.1rem;
}

.w-quantity {
  position: absolute; 
  top: -0.5rem; 
  right: auto; 
  background-color: #dd1;
  border: solid 0.0625rem;
  border-radius: 100%;
  min-width: 2rem;
  height: 2rem;
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-needed {
  position: absolute; 
  top: -0.5rem; 
  right: 0.2rem;
  min-width: 2rem;
  height: 2rem;
  z-index: 1111;
  display: flex;
  align-items: center;
  justify-content: center;
}