#tree-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
}

.node {
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}