#tree-container {
  display: grid;
  place-items: center;
}

.w-block-selected {
  border-radius: 25px;
  border: 0.0625rem solid #0F1035;
  padding: 0.5rem 0px;
  background-color: #7FC7D9;
}


.node {
  cursor: pointer;
}

.link {
  fill: none;
  stroke: #111;
  stroke-width: 0.1rem;
}
