<div class="w-title-bar"><h1 class="w-title">Items</h1><span *ngIf="isLoading" class="loader-round"></span></div>
<div>
  <button
  style="margin-right:1rem"
  class="button-42" 
  [ngClass]="{'button-42-active': addButtonActive}"
  (click)="onClickAddBtn()"
>Add Row</button>

<button 
  class="button-42" 
  [ngClass]="{'button-42-active': removeButtonActive}"
  (click)="onClickRemoveBtn()"
>Delete Row</button>
</div>
<div *ngIf="!isLoading && addButtonActive">
  <hr/>
  <form [formGroup]="addItemForm" (ngSubmit)="onSubmitAddItem()">
    <div class="w-form-container">
      <div class="input-container">
        <input placeholder="code" formControlName="code" class="input-field" type="text" autocomplete="false" />
        <label for="code" class="input-label">code</label>
        <span class="input-highlight"></span>
      </div>

      <div class="input-container">
        <input placeholder="name" formControlName="name" class="input-field" type="text" autocomplete="false" />
        <label for="name" class="input-label">name</label>
        <span class="input-highlight"></span>
      </div>

      <div class="input-container" style="margin-right:0;">
        <input type="color" value="#ffffff" formControlName="color" class="input-color" />
        <label for="color" class="input-label">color</label>
      </div>
      
      <div class="input-container">
        <input placeholder="description" formControlName="description" class="input-field" type="text" autocomplete="false" />
        <label for="description" class="input-label">description</label>
        <span class="input-highlight"></span>
      </div>
    </div>

    <div formArrayName="columns">
      <p *ngIf="columns?.controls?.length > 0">Rows:</p>
      <div 
        *ngFor="let columnControl of columns.controls; let i = index; let even = even" 
        class="w-form-container"
        [ngStyle]="{'background-color': even ? '#fff' : '#e3e9f2'}"
        [formGroupName]="i"
        >
        <div class="input-container">
          <input id="name-{{i}}" placeholder="column name" formControlName="name" class="input-field" type="text" autocomplete="false" />
          <label for="name-{{i}}" class="input-label">column name</label>
          <span class="input-highlight"></span>
        </div>
  
        <div class="input-container">
          <input id="value-{{i}}" placeholder="value" formControlName="value" class="input-field" type="text" autocomplete="false" />
          <label for="value-{{i}}" class="input-label">value</label>
          <span class="input-highlight"></span>
        </div>
  
        <div class="input-container" style="margin-right:0;">
          <input id="color-{{i}}" formControlName="color" class="input-color" type="color" value="#ffffff" />
          <!-- <label for="color-{{i}}" class="input-label">Color</label> -->
        </div>
        
        <div class="input-container">
          <input id="width-{{i}}" placeholder="column width" formControlName="width" class="input-field" type="text" autocomplete="false" />
          <label for="width-{{i}}" class="input-label">column width</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container" style="align-content:center; margin-right:0">
          <div class="w-form-button" (click)="removeColumn(i)"> 
            <!-- (click)="columns.controls.splice(i, 1)" - with this approach, once you add a column with empty fields and delete it right after, you can't submit the form -->
            <mat-icon>close</mat-icon>
          </div>
        </div>
      </div>
    </div>
    
    <div class="w-form-submit-box">
      <button class="button-42" type="button" (click)="addColumn()">Add Column</button>
      <button class="button-42" type="submit" [disabled]="addItemForm.invalid && !isLoading">Submit</button>
    </div>
  </form>
  <hr/>
</div>

<!-- <span class="loader" *ngIf="isLoading"></span> -->

<h1 class="w-empty" *ngIf="company?.items?.length < 1">No items created yet</h1>

<div class="w-table-container" *ngIf="company?.items?.length > 0">
  <table class="workspace-table">
    <thead>
      <tr>
        <th *ngIf="removeButtonActive">
          <mat-icon>delete</mat-icon>
        </th>
        <th></th>
        <th>code</th>
        <th>name</th>
        <th>description</th>
        <th 
          *ngFor="let el of customColumns | keyvalue"
          [ngStyle]="{
            'background-color': 'darkgrey', 
            'color': 'black',
            'min-width': el.value?.width + 'px'
            }"
        >{{ el.key }}</th>
        <!-- 'background-color': el.value?.color, 
            'color': onFontColor(el.value?.color), -->
        <th
          class="w-suppliers"
          *ngFor="let location of company?.locations"
        ><mat-icon>warehouse</mat-icon><div>{{ location?.name }}</div></th>
        <!-- *ngFor="let location of company?.locations" -->
        <!-- ><mat-icon>warehouse</mat-icon>{{ location }}</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of company?.items; let i = index">
        <td *ngIf="removeButtonActive">
          <input type="checkbox" id="r{{i}}" name="remove" (change)="onCheckboxChange($event, item?.id)"/>
        </td>
        <td style="padding:0;">
          <div class="cell-image-wrap">
            <div *ngIf="!item?.image?.hash" class="cell-empty-image">
              <mat-icon>add_a_photo</mat-icon>
            </div>

            <div class="cell-image-hover-button" title="Change image">
              <mat-icon>expand_more</mat-icon>
            </div>
          </div>
        </td>
        <td 
          [ngClass]="{'cell-edit-border': cellEditMode[(i+1) + '-' + 1]}"
          (click)="doubleClickCell(i+1,1)"
        >
          <div
            [id]="(i+1) + '-' + 1"
            *ngIf="!cellEditMode[(i+1) + '-' + 1]"
            >{{ item?.code }}</div>
          <span
            [id]="(i+1) + '-' + 1 + 'f'"
            *ngIf="cellEditMode[(i+1) + '-' + 1]" 
            [(inputValue)]="tempCellValue"
            (clickOutside)="onClickOutsideCell((i+1) + '-' + 1)"
            (keydown.enter)="updateCellValue((i+1), 1, item?.id)"
            contenteditable
          ></span>
        </td>
        <td 
          [ngClass]="{'cell-edit-border': cellEditMode[(i+1) + '-' + 2]}"
          (click)="doubleClickCell(i+1,2)"
        >
          <div
            [id]="(i+1) + '-' + 2"
            *ngIf="!cellEditMode[(i+1) + '-' + 2]"
            >{{ item?.name }}</div>
          <span
            [id]="(i+1) + '-' + 2 + 'f'"
            *ngIf="cellEditMode[(i+1) + '-' + 2]" 
            [(inputValue)]="tempCellValue"
            (clickOutside)="onClickOutsideCell((i+1) + '-' + 2)"
            (keydown.enter)="updateCellValue((i+1), 2, item?.id)"
            contenteditable
          ></span>
        </td>
        <td 
          [ngClass]="{'cell-edit-border': cellEditMode[(i+1) + '-' + 3]}"
          (click)="doubleClickCell(i+1,3)"
        >
          <div
            [id]="(i+1) + '-' + 3"
            *ngIf="!cellEditMode[(i+1) + '-' + 3]"
            >{{ item?.description }}</div>
          <span
            [id]="(i+1) + '-' + 3 + 'f'"
            *ngIf="cellEditMode[(i+1) + '-' + 3]" 
            [(inputValue)]="tempCellValue"
            (clickOutside)="onClickOutsideCell((i+1) + '-' + 3)"
            (keydown.enter)="updateCellValue((i+1), 3, item?.id)"
            contenteditable
          ></span>
        </td>
        <td 
          *ngFor="let el of customColumns | keyvalue; let ii = index"
          (click)="doubleClickCell(i+1,ii+4)"
          [ngClass]="{'cell-edit-border':cellEditMode[(i+1) + '-' + (ii+4)]}"
        >
          <div
            [id]="(i+1) + '-' + (ii+4)"
            *ngIf="!cellEditMode[(i+1) + '-' + (ii+4)]"
          >{{ getItemColumnValue(item, el.key) }}</div>
          <span
            [id]="(i+1) + '-' + (ii+4) + 'f'"
            *ngIf="cellEditMode[(i+1) + '-' + (ii+4)]" 
            [(inputValue)]="tempCellValue"
            (clickOutside)="onClickOutsideCell((i+1) + '-' + (ii+4))"
            contenteditable
          ></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button
  *ngIf="removeButtonActive && company?.items?.length > 0"
  class="button-42" 
  [disabled]="itemsToDelete.size == 0 || isLoading"
  (click)="onRemoveRows()"
>Submit Removal</button>