:host {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: #ddd;
}

.sklad-left-bar-element:hover {
  background-color: var(--s-hover-element);
}

.sklad-left-bar-element:active {
  background-color: var(--s-click-element);
}

.sklad-left-bar {
  /* vertical-align: top; */
  display: block;
  /* background-color: var(--s-separation); */
  
  min-width: var(--s-left-bar-width);
  height: calc(100vh - var(--s-top-tool-bar));
  margin: 0;
}

.sklad-left-bar-box {
  /* overflow-y: hidden; */
  display: block;
  border-radius: 10px;
  width: calc(100% - 4px - 9px);
  height: calc(100% - 20px - 20px);
  background-color: var(--s-background);
  /* background-color: #dd0; */
  padding: 10px 0px 10px 4px;
  margin: 10px 0 10px 9px;
}

.sklad-left-bar-content {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  min-height: 100%;
}

.sklad-left-bar-content::-webkit-scrollbar {
  height: 0.6rem;
  width: 0.6rem;
}

.sklad-left-bar-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.sklad-left-bar-content::-webkit-scrollbar-thumb {
  background: #888; 
}

.sklad-left-bar-content::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.sklad-left-bar-element {
  /* test  */
  display: flex;
  min-width: 100%;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
  height: 2rem;
  font-size: 0.87rem;
  align-items: center;
  display: inline-block;
}



.sklad-left-bar-element span {
  user-select: none;
  display: inline-block;
  margin: 0 0.5rem;
}

.sklad-left-bar-resizer {
  /* vertical-align: top; */
  /* width: 1rem; */
  display: block;
  background-color: var(--s-separation);
  cursor: e-resize;
  min-width: var(--s-left-bar-edge);
}

.sklad-left-bar-resizer:hover {
  box-shadow: 1px 0 1px 0px var(--s-highlight) inset;
}